.home {
  display: flex;
  flex-direction: column;


  width: 100vw;
}

.countries {
  display: grid;
}

.countryContent {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  margin: auto;
}

.link {
  margin-top: auto;
}